header{

	background-color: white;

}

.label{
	
	position: relative;
	top: -45px;
	left: 55%;
	
}

.description{
	position: relative;
	height: 180px;
	width: 100%;
	
}

a{

	color: black;

}

.buttoncenter{
	
	position: relative;
	left: 23%;
	
	
}

.posicionar{

  position: relative;
  top:3px;

}

.colocacion{
	
	left: -50px;
	top: 75px;
	width: 100px;
}

.colocacion2{
	
	left: 15px;
	top: 75px;
	width: 100px;
}


h1{

	position: relative;
	margin-right: 0px;
	color: black;
	font-family: galette;
	left: 10%;
	width: 83%;
	top: 10px;

}

h1,h2,h3{
	
	font-family: galette;
	
}

footer p{
	
	text-align: center;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}



footer {
	font-family: galette;
	position: fixed;
    display: flex;
    padding: 10px 5px;
    background-color: #009ddb;
    color: #fff;
    width: 100%;
    bottom: 0;
}

footer a{
	
	color: #fff
	
}

footer p {
    flex: 1;
    margin: 0;
}

footer ul {
	
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    list-style: none;
    
}


nav{

	
	background-color: #009ddb;
	position: relative;
	position: relative;
	left: 20%;
	width: 70%;

}

nav ul{

	float: left;
	border: solid;
	color: black;
	background-color: #009ddb;

}

.colorATI{

	background-color: #009ddb;
	font-family: open sans;


}


img{

	float:left;

}

article{

	text-align: justify;

}

aside{

	text-align: justify;

}

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

table {
  margin: 0 0 2rem 0;
  width: 100%; }
  table tbody tr {
    border: solid 1px;
    border-left: 0;
    border-right: 0; }
  table td {
    padding: 0.75rem 0.75rem; }
  table th {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 0.75rem 0.75rem 0.75rem;
    text-align: left; }
  table thead {
    border-bottom: solid 2px; }
  table tfoot {
    border-top: solid 2px; }
  table.alt {
    border-collapse: separate; }
    table.alt tbody tr td {
      border: solid 1px;
      border-left-width: 0;
      border-top-width: 0; }
      table.alt tbody tr td:first-child {
        border-left-width: 1px; }
    table.alt tbody tr:first-child td {
      border-top-width: 1px; }
    table.alt thead {
      border-bottom: 0; }
    table.alt tfoot {
      border-top: 0; }

table tbody tr {
  border-color: rgba(0, 0, 0, 0.25); }
  table tbody tr:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, 0.075); }
table th {
  color: #555555; }
table thead {
  border-bottom-color: rgba(0, 0, 0, 0.25); }
table tfoot {
  border-top-color: rgba(0, 0, 0, 0.25); }
table.alt tbody tr td {
  border-color: rgba(0, 0, 0, 0.25); }

